.card-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.card{
  width: 320px;
  background: white;  
  -webkit-box-shadow: 0 0 1em;
  border-radius: 5px;
}
.card-image {
  width: 320px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card-personal {
  height: 110px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 20px 0 0 30px;
}
.card-username {
  color: darkgrey;
}
.card-name{
  color: #099d8d;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 5px;
}
.fa-map-marker-alt{
  color: #14d8c3;
  margin-right: 5px;
}
.card-location{
  color: grey;
}
.card-github {
  height: 100px;
  background: linear-gradient(#099d8d, #14d8c3);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.github-data{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-github-number{
  font-size: 40px;
  font-weight: bold;
}
.card-github-text{
  font-size: 14px;
  font-weight: lighter;
}
.date-created{
  color: grey;
  margin-top: 5px;
  font-weight: bold;
  font-size: 14px;
}