.selectUsers {
  margin-bottom: 20px;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  font-weight: bold;
  color: grey;
  -webkit-box-shadow: 0 0 1em;
  padding: 10px;
}
.select{
  cursor: 10px;
}
.option {
  padding: 20px;
}